﻿<!-- BEGIN PAGE CONTENT-->

<div class="col-lg-6">
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption caption-md">
                <span class="caption-subject bold theme-font-color uppercase">Site Select</span>
                <span class="caption-helper"></span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable table-scrollable-borderless">
                <table class="table table-hover table-light">
                    <tbody>
                        <tr ng-repeat="site in Sites">
                            <td>
                                <!-- <a href="/app/{{site.SiteId}}" class="primary-link">{{site.SiteName}}</a>-->
                                <a ng-click="SelectSite(site)" ng-class="CheckSelectedSite(site)">{{site.SiteName}}</a>
                            </td>
                            <td>
                                <span ng-if="!site.IsSelected" ng-click="SelectSite(site)" class="btn btn-sm btn-default">Truy cập</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




