/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    /**Scroll*/ 
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }
    

    ::-webkit-scrollbar-thumb {
        background-color: #000000;
        border: 2px solid #555555;
    }
    
    /**Full white paper*/
    .page-wrapper{
        min-height:100vh!important;
    }

    .page-content-wrapper>.page-content{
        min-height: calc(100vh - 80px)!important;
    }
}

.table-hover>tbody>tr.selected:hover, .table-hover>tbody>tr.selected, {
    background-color: #1c346354 !important;
}

.full-height-page {
    height: calc(100vh - 170px);
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
.hidden-desktop-custom {
    display: none!important;
}

/* .hidden-mobile-custom {
    display: initial;
} */
.mobile-tool {
    display: none!important;
}
