﻿
<div class="page-footer-inner">
    © Loki with <i class="fa fa-heart font-red"></i>. Website : <a href="https://gitlab.com/nguyenhero" target="_blank">https://gitlab.com/nguyenhero</a>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>